<div class="clearall"></div>

<div class="fullSlide pc_show">
		<style type="text/css">
		.fullSlide,.fullSlide .bd,.fullSlide .bd li,.fullSlide .bd li a {height:{get('slide_height')}px;}
		</style>
		<div class="bd">
			<ul>
			  <li _src="url({get('slide_pic1')})" style="background:#F4DDC4 center 0 no-repeat;"><a target="_blank" href="{get('slide_pic1_url')}"></a></li>
			  <li _src="url({get('slide_pic2')})" style="background:#F4DDC4 center 0 no-repeat;"><a target="_blank" href="{get('slide_pic1_url')}"></a></li>
			  <li _src="url({get('slide_pic3')})" style="background:#F4DDC4 center 0 no-repeat;"><a target="_blank" href="{get('slide_pic1_url')}"></a></li>
			  <li _src="url({get('slide_pic4')})" style="background:#F4DDC4 center 0 no-repeat;"><a target="_blank" href="{get('slide_pic1_url')}"></a></li>
			  <li _src="url({get('slide_pic5')})" style="background:#F4DDC4 center 0 no-repeat;"><a target="_blank" href="{get('slide_pic1_url')}"></a></li>
			</ul>
		</div>

		<div class="hd"><ul></ul></div>
		<span class="prev"></span>
		<span class="next"></span>
</div>
<!-- fullSlide -->

<script src="{$skin_path}/js/pc/hdp.js" type="text/javascript" ></script>