/*头部*/
.header{
	border-color: rgb(183,0,0);
	border-color: rgba(183,0,0,0.6);
	background-color: rgba(221,0,0,0.9);  /*支持rgba的浏览器*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e52140830,endColorstr=#e5214083);    /*IE8支持*/
	-moz-box-shadow:0px 0px 15px #333;
	-webkit-box-shadow:0px 0px 15px #333;
	box-shadow:0px 0px 15px #333;
}
/* 页底背景颜色 */
.foot{
	background-color: #AD0E0E;
}



/* ---------------导航--------------- */

/* 导航 */
#nav li.on,#nav li.one:hover,#nav li.one a:hover {
  color:white;
  background: #930000 url(../images/base/nav_hover_bg.gif) center bottom no-repeat;
}
/* 导航子栏目列表背景 */
#nav li ul {
	background-color: #930000;
}
/* 导航子栏目列表a:hover */
#nav li.one ul li:hover{
	background-color: #DD0000;
}


/* ------------------------------ */

/* 搜索框背景 */
.reveal-modal-bg {
	background-color: rgba(0, 0, 0, 0.8) ;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5000000,endColorstr=#e5000000);
}		
.reveal-modal{
	background-color: rgba(221,0,0,0.9); 
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4); 
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4); 
	-box-shadow: 0 0 10px rgba(0,0,0,.4); 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5214083,endColorstr=#e5214083);    /*IE8支持*/
}
/* 搜索输入框 */
.top_text {
	border-color: #930000;
}
/* 搜索按钮 */
.top_btn{
	background-color: #930000;
}
.top_btn:hover{
	background: #930000;
}

/* banner当前按钮 */
.fullSlide .hd ul .on{ background: #930000;}


/* --------------- 首页第二行 --------------- */
/* 首页第二行标题 */
.t_2{
	background: url(../images/base/color4/t_2.gif) repeat-x top center;
}
/* 首页第二行背景 */
.bg_1{
	background-color: #AD0E0E;
}
/* 首页第二行tab_a */
.url_1 a{
	background-color: #AD0E0E;
}
.url_1 a:hover {
	background-color: #6F0000;
}
/* 首页第二行li */
.tabnav li {
	background-color: #FFF;
	border-color: #AD0E0E;
}
/* 首页第二行li 所属栏目 */
.tabnav li strong{
	color: #DD0000;
}
/*首页第二行li 标题*/
.tabnav li a {
	color: #666;
}
/* 首页第二行li 说明颜色 */
.tabnav li p{
	color: #666;
}
/* 首页第二行li 时间颜色 */
.tabnav li span{
	color: #666;
}
/* 首页第二行当前li */
.tabnav li.s{
	border: none;
	background: #FFF url(../images/base/color4/tabnav.gif) no-repeat left center ;
}
/* 首页第二行当前li 所属栏目*/
.tabnav li.s strong{
	background-color: #DD0000;
	color: #FFF;
}
/* 首页第二行当前li 标题 */
.tabnav li.s a{
	color: #AD0E0E;
}
/* 首页第二行当前li 时间 */
.tabnav li.s span{
	color: #666;
}
/* 首页第二行当前li 说明 */
.tabnav li.s p{
	color: #666;
}

/* 首页第二行下 标题 */
.list_1 li a{
	color: #F3F3F3;
}
/* 首页第二行下 标题hover */
.list_1 li a:hover{
	color: #F3F3F3;
}
/* 首页第二行下 时间 */
.list_1 li span{
	color: #AAA;
}




/* --------------- 内页导航 --------------- */
.sub_menu{
	background-color: #DD0000;
}


/* --------------- 分页 --------------- */
.pages {
  color:#888;
}
.pages strong,.pages span {
  background-color: #DD0000;
}
.content .pages a,.pages a {
  border-color: #DD0000;
  color: #DD0000;
}
#page strong {
	background-color: #DD0000;
}



/* --------------- 按钮 --------------- */
/* 评论按钮 */
input.btn,.comm input.btn{
	background: #DD0000;
}
.btn,.btn_a {
	background: #DD0000;
}
.btn:hover,.btn_a:hover{
	background: #930000;
}
/* 投票按钮 */
.guestbook_btn {
	-webkit-box-shadow: 3px 3px 4px #DFDFDF;
	-moz-box-shadow: 3px 3px 4px #DFDFDF;
	box-shadow: 3px 3px 4px #DFDFDF;
	background: #DD0000;	
}
.guestbook_btn:hover{
	background-color: #930000;
}
/* 应聘详情 */
a.table_more{
	background-color: #DD0000;
}
/* 应聘按钮 */
.table_job_more a {
	color: #FFF;
	background-color: #DD0000;
}
.table_job_more a:hover{
	background-color: #930000;
}

/* 页底输入框 */
.s_text {background: #FFF;}


/* --------------- 联系我们图标 --------------- */
.ico_tel dt{
	background: url(../images/base/color4/ico_tel.gif) no-repeat left top; 
}
.ico_qq dt{
	background: url(../images/base/color4/ico_qq.gif) no-repeat left top;
}
.ico_weixin dt{
	background: url(../images/base/color4/ico_add.gif) no-repeat left top;
}
.ico_add dt{
	background: url(../images/base/color4/ico_add.gif) no-repeat left top;
}

