
body {
    font-family: 'Microsoft Yahei', sans-serif;
    background: #FFF;
}
li {list-style:none;}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}

textarea {  -webkit-appearance: none;}   
.button{ border-radius: 0; } 

a {transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; color:#333;text-decoration:none;}
a:hover {text-decoration:none;}

/* 划过图片放大 */
.img-auto { display:block; overflow:hidden; }
.img-auto img { width:auto; height:auto; margin:0px auto; transition: 600ms; }
.img-auto img:hover { -webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1); }

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #FFF;
}

#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:transparent;
    padding: 15px 30px;
    
}
.header .container-fluid{
padding:0;
}
.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}

h1, .h1, h2, .h2, h3, .h3 {
margin-top: 7px;
margin-bottom: -5px;
}
h2 {
    color: #000;
}
h4 {
    padding-top:10px;
}


.blank5,.blank10,.blank20,.blank30 {
  clear: both;
  height: 5px;
}

.blank10 {
  height:10px;
}

.blank20 {
  height:20px;
}

.blank30 {
  height: 30px;
}








.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size: 14px;
    line-height:25px;
    /* padding-top:20px; */
}
.navbar-side {
    z-index: 0; 
}
.panel{
border-radius:0px;
}

.navbar-side .nav > li > a > i{color: rgba(255, 255, 255, 0.62);padding: 8px;width: 20px;text-align: center;font-size: 14px;}
.top-navbar{position: fixed;width: 100%;z-index: 300;-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);}
.navbar-side {
  z-index: 2;
  position: fixed;
  width: 260px;
  top: 60px;
  box-shadow: none;
}
#page-wrapper {
  position: relative;
  top: 55px;
  /* box-shadow: 0 0 10px #757575; */
  -moz-box-shadow: 0 0 10px #757575;
  /* -webkit-box-shadow: 0 0 10px #757575; */
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
background-color: #2497BA;
color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #075CB3;
border-color: #075CB3;
}
.breadcrumb {padding: 10px 10px 10px 20px;margin-bottom: 0;list-style: none;border-radius: 0;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);box-shadow: 0 1px 1px rgba(0,0,0,.05); line-height: 20px;font-size: 13px;}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
}
.dropdown-menu>li>a i {
  color: #1F1F1F;
}
.text-muted {
  color: #30cc7b;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 4px 7px;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #F09B22;
  border-radius: 10px;
}
.closed{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);	
}
.closed i{color: #adadad;}



.member-btn .btn-default {margin:15px 20px 0px 0px; border:none;}
 @media(max-width:768px) {
.member-btn {display:none;}
 }
.page-header {padding-bottom: 0;margin: 0;border-bottom: 1px solid transparent;text-align: left;background-color: transparent;padding: 0px 22px 10px 5px;color: #323232;}



/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/
div#sideNav:hover {
    color: #0BA2E6;
}
.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}
.top-navbar{
margin:0px;
}
.top-navbar .navbar-brand {color: #fff;width: 260px;text-align: left;height: 60px;padding:5px 15px; font-size: 24px;}
.top-navbar .navbar-brand img {max-width:260px;max-height:60px;}
.navbar-brand b{
color: #4BD28C;
}
.top-navbar .nav > li {
position: relative;
display: inline-block;
margin: 0px;
padding: 0px;
}
.top-navbar .nav > li > a {position: relative;display: block;padding: 17px;color: #484848;margin: 0px;}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
color: #319DB5 !important;
background: transparent;
}
.top-navbar .dropdown-menu{
min-width: 230px;
border-radius: 0 0 4px 4px;
border: 0;}
.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus{
color: #225081;
background:none;
}
.dropdown-tasks{
width: 255px;
}
.dropdown-tasks .progress {
height: 8px;
margin-bottom: 8px;
overflow: hidden;
background-color: #f5f5f5;
border-radius: 0px;
}
.dropdown-tasks > li > a {padding: 5px 14px;}
.dropdown-tasks p {
font-size: 13px;
line-height: 21px;
padding-top: 4px;
}



.arrow {
    float: right;
    margin-top: 8px;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
	padding-left:15px;
}
ul#main-menu .nav-second-level li a {
    padding-right: 47px;
}
 @media(max-width:768px) {
.nav-second-level li a {
    padding-left: 37px;
}
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	text-shadow:none;
}
.sidebar-collapse > .nav > li > a {
	padding: 8px;
	font-size: 14px;
}


.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	outline:0;
}
 @media(max-width:768px) {
.sidebar-collapse {width:100%;background:white;
opacity: 0.9;text-align:left;}
 }
.navbar-side {
	border:none;
	
}
.top-navbar {
	background: #ffffff;
	border-bottom:none;
}
.top-navbar .nav > li > a > i {margin-right: 0;}

.dropdown-user li {
margin: 8px 0;
}
.navbar-default {
border:0px solid black;
background:none;
box-shadow:none;
box-shadow:none;
text-align:right;
z-index:999999999;
}

ul#main-menu li a {padding-right:20px;}
.navbar-header {
    background: transparent;
}
 @media(max-width:768px) {
.navbar-header {background:white;opacity: 0.9;}
}
.navbar-default .navbar-toggle {background:#fff; color:#fff;}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #f7f7f7;}
.navbar-default .navbar-toggle {border-color: #053354;}

.navbar-default .navbar-toggle .icon-bar {background-color: #053354;}
.nav > li > a > i {
    margin-right:10px;
    color: #848484;
    font-size: 16px;
}
.dropdown-menu>li>a>strong {
  color: #0866C6;
  padding: 5px 0;
  display: inline-block;
  font-weight: 500;
}
#sideNav{
    float: left;
    left: 0;
    z-index: 3;
    color: #868686;
    cursor:pointer;
    border-radius: 0;
      font-size: 20px;
         background: #ececec;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
       margin-top: 14px;
    border-radius: 50%;
}
ul.dropdown-menu.dropdown-messages li a div {
  padding: 2px 0;
}


h1.page-header  {font-size:1.4em;}





/*----------------------------------------------
    UI ELEMENTS STYLES     
------------------------------------------------*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/
 
 @media(min-width:768px) {
     #page-wrapper{
 margin: 0 0 0 300px;
 padding: 0;
 min-height: 880px;
    }

    .navbar-side {
 width: 260px;
 z-index: 1;
    }
   .navbar {
 border-radius: 0px; 
}
   
}
 @media(max-width:768px) {
	#sideNav{
	display:none;
} 
 .navbar-side {
width:100%;
}
 #page-wrapper {
position: relative;
top: 93px;
 }
 }
 @media(max-width:480px) {
 #page-wrapper {
position: relative;
top: 93px;
padding:0px;
 }
 #page-inner {padding:0px 10px;}
.page-header small {
display: block;
padding-top: 14px;
font-size: 19px;
}
#sideNav{
	display:none;
}
.panel-left {
  width: 85px;
  height: 85px; 
  border-radius: 100%;
  overflow: hidden;
  margin: 14px;
}
}
.dropdown-content{
    min-width: 165px !important;
    left: -38px !important;
    top: 60px !important;
}
.w250{
	    min-width: 255px !important;
	    left: -184px !important;
}
.top-navbar .nav > li > a b{
	margin:0 5px;
}
.dropdown-content li>a{
	font-size:14px;
	text-decoration:none;
	color:#888;
}
.dropdown-content li>a i{
	font-size:16px;
}
.dropdown-content li>a{
	font-size: 13px;
	/* margin: 0 4px; */
}
.card.horizontal.cardIcon .card-image {
    background: #30cc7b;
    color: #fff;
    font-size: 10px;
    width: 94px;
    text-align: center;
    vertical-align: middle;
}
.card.horizontal.cardIcon .card-image i {
    margin-top: 45%;
    font-size: 40px;
}
.navbar-brand i.large.material-icons {
    float: left;
    font-size: 31px;
    margin-right: 6px;
}
.clearBoth{
	 clear:both;
}
.icon-preview {
    font-size: 13px !important;
    padding: 15px !important;
    display: inline-block;
    line-height: 20px !important;
}
.icon-preview span {
    display: inherit;
}
.header .breadcrumb:before{
	    font-size: 14px;
	    margin-right: 0px;
    color: #717171;
}
.header .breadcrumb li a{
	font-size: 13px;
	    font-size: 13px;
    text-decoration: none;
    color: #717171;
	text-decoration: none;
	color: #717171;
}
 @media(max-width:768px) {
	 .top-navbar .nav > li{
		 float:right;
	 }
 }
  @media(max-width:520px) {
	  ul#dropdown1 {
			left: 0px !important;
		}
	 ul#dropdown2 {
			left: -69px !important;
		}
 }




.user_welcome {
clear:both;
padding:0px 50px;
 height:130px;
 line-height:130px;
 color:#333;
 border-bottom:1px solid #999;
 background:#EED8C1 url(../images/user/welcome.jpg) right top no-repeat;
}

.user_welcome img { vertical-align:middle; margin-right:20px;}

.user_welcome span {padding:5px 10px; color:#FFF; background:#FDAD0D; border-radius: 5px 5px 5px 5px;}
.user_welcome a {color:#FFF;}

.user-cotent-id,
.user-category,
.user-content-author,
.user-content-view,
.user-content-adddate,
.user-content-checked,
th.user-content-list-title,
.user-content-dosomething,
.orders-list-id,
.orders-list-title,
.orders-list-status,
.orders-list-adddate,
.orders-list-dosomething
{text-align:center;}
.user-content-list-title {text-align:left;}
th.user-content-list-title
{text-align:center;}

@media (max-width: 768px) {
.user_welcome {padding:0px 20px;}
.user_welcome img { margin-right:10px;}

.user-cotent-id,
.user-category,
.user-content-author,
.user-content-view,
.user-content-adddate,
.user-content-checked,
.orders-list-id,
.orders-list-status,
.orders-list-adddate
{display:none;}
}

.placeholder {margin:30px 0px 20px 0px;text-align:center;}
.placeholder .glyphicon {font-size:55px;color:#ccc;}
.nav .glyphicon {font-size:20px;}
.text-muted {color:#999;}


footer {float:right; margin-top:55px; text-align:center; color:#ccc; }
 footer a {color:#ccc;}


.placeholders ul { padding-bottom:55px; text-align:center;}
.placeholders ul li {line-height:220%;}


li.current a.waves-effect {background:#1475B9;color:white;}



.button {
    background-color: #198DDD;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    color: #FFF;
    font-size: 1.2em;
    padding: 10px 20px;
    font-weight: normal;
    cursor: pointer;
    border: none;
}


.button:hover { color:white; background:#004ba0; }

.btn-group-lg>.btn, .btn-lg {font-size:1.0em;}

/*定义标题*/
.t_1{ height:60px;background: url(../images/base/t_1.png) repeat-x left -31px;color:#000; margin-top:10px; clear:both;}
.t_1 div{  margin-left:auto; margin-right:auto; position:relative;}
.t_1 h1,.t_1 h3{ font-size:1.4em; border-bottom:1px solid #666; height:30px; line-height:30px; float:left; font-weight:normal; margin:0px 0px 0px 15px;}
.t_1 p{ font-size:0.8em; height:30px; line-height:30px; clear:both;  text-transform:capitalize; margin:0px 0px 0px 15px; color:#666;}
.t_1 a{ color:#000;}
.t_info {font-size:14px;}

#copyright {text-align:right;color:#ccc;font-size:10px;}
#copyright a {color:#ccc;}
@media (max-width: 768px) {
#copyright {padding:30px 0px;text-align:center;}
}

.p10 {padding:10px;}


.servers-wap {display:none;}
@media (max-width: 768px) {
.servers-wap {display:block;}
.plug-menu {
background: #ccc;
}

/* 手机菜单弹出按钮颜色 */
.top_menu>li {
background: #ccc;
}

/* 手机菜单平铺背景颜色 */
.foot_mp {
background: #ccc;
}
}

@media (max-width: 768px) {
#page-wrapper { top:30px; }
}




