{template 'header.html'}


<!-- 页面标题开始 -->
<div class="t_1 wow bounceIn">
<div>
<h3>{$type['typename']}</h3>
<p>Type</p>
</div>
</div>

<div class="p10">
<div class="blank30"></div>
<article class="list_pic">
	<ul>
		{loop $archives $i $archive}
		<li>
			<a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}" class="list_pic_a"><img alt="{$archive['stitle']}"  src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"' /></a>
			<h5><a title="{$archive['stitle']}" target="_blank" href="{$archive['url']}">{$archive['title']}</a></h5>
			{if $archive['attr2']}
				<p>
				{if $archive['attr2']==$archive['oldprice']}
					{lang('price')}：<span>{$archive['attr2']}</span>{lang('unit')}
				{else}
					{lang('list_price')}：<span>{$archive['oldprice']}</span>{lang('unit')} {lang('discount')}：<span>{$archive['attr2']}</span>{lang('unit')}
				{/if}
				</p>
			{/if}
		</li>
		{/loop}
		<div class="clear"></div>
	</ul>
</article>
<div class="blank30"></div>
<!-- list_pic列表结束 -->
<div class="blank30"></div>

<!-- 分页开始 -->
<div class="Paging box2">
{if isset($pages)}
{type_pagination($typeid)}
{/if}
</div>
<div class="blank30"></div>
<!-- 分页结束 -->


</section>
<!-- 内容结束 -->


<!-- 返回首页开始 -->
<div class="blank30"></div>
<div class="blank30"></div>
<a href="javascript:history.back(-1)" class="register_btn">{lang('backuppage')}</a>
<div class="blank30"></div>
<!-- 返回首页结束 -->
</div>

{template 'footer.html'}