{template 'head.html'}

<div class="t_1 wow bounceIn">
<div>
<h3>{lang(my)}{lang(praise)}</h3>
<p>My Praise List</p>
</div>
</div>

<div class="p10">

<div class="blank10"></div>

<form name="listform" id="listform"  action="<?php echo uri();?>" method="post">
<table class="table table-striped table-hover">
<thead>
<tr class="th">
<!-- <th><input title="点击可全选本页的所有项目"  onclick="CheckAll(this.form)" type="checkbox" name="chkall"> </th> -->
<th align="center"><!--id-->{lang(id)}</th>
<th align="center"><!--content-->{lang(adddate)}</th>
<th align="center"><!--content-->{lang(title)}</th>
<th align="center">{lang(dosomething)}</th>
</tr>
</thead>
<tbody>
{loop $data $d}
<tr>
<!-- <td align="center" >
<input onclick="c_chang(this)" type="checkbox" value="{$d.$primary_key}" name="select[]" class="checkbox" />
</td> -->

<td align="center">{cut($d['zlid'])}</td>
<td align="left" style="padding-left:10px;">{date('Y-m-d H:i:s',$d['addtime'])}</td>
<td align="left" style="padding-left:10px;"><a href="{$d[aurl]}" target="_blank">{$d[title]}</a></td>
<td align="center">
<a onclick="javascript: return confirm('{lang(confirm)}{lang(delete)}?');" href="<?php echo url('comment/delzan/id/'.$d['zlid']);?>" class="a_del">{lang(delete)}</a>
</td>
</tr>
{/loop}

</tbody>
</table>
<div class="blank30"></div>

    <input type="hidden" name="batch" value="">


</form>
<div class="blank10"></div>
    <div class="blank10"></div>

<div class="pages">
<?php if(get('table')!='type' && front::get('case')!='field') echo pagination::html($record_count); ?>
</div>
<div class="blank10"></div>
<div class="blank30"></div>
<div class="blank30"></div>
<script>
$(function(){
	$('#btn_add').click(function(e) {
        $('#listform').attr('action','<?php echo url('invite/add',true);?>');
		$('#listform').submit();
    });
});
</script>
{template 'foot.html'}