{template 'head.html'}
<div class="blank10"></div>

<!-- 页面标题开始 -->
<div class="t_1">
<div>
<h3>{lang(edituserinfo)}</h3>
<p>Edit User Info</p>
</div>
</div>

<div class="p10">


<script LANGUAGE="javascript">
    <!--
    function CheckForm()
    {
        if (document.myform.pwdconfirm.value!=document.myform.password.value)
        {
            alert("{lang(twicepassnosame)}")
            document.myform.password.value = ""
            document.myform.pwdconfirm.value = ""
            document.myform.password.focus()
            document.myform.password.select()
            return false
        }

        document.myform.submit.disabled=true;
    }
    //-->
</script>



<?php
if(hasflash()){
	$showmessage = showflash();
	if(strlen($showmessage)>200){ 
?>
<div id='message'><span style="color:red;float:left"><?php echo $showmessage; ?></span>
<span style="color:blue;float:right"><a href="#" onClick="javascript:turnoff('#message');">(×)</a></span></div><div class="blank20"></div>
<?php
    }else{
?>
<script type="text/javascript">
art.dialog({
		id:'messagebox',
		content:'<?php echo $showmessage; ?>',
		title:'{lang(prompted)}',
		time: 2,
		lock:true
	});
</script>
<?php
    }
}
?>

<form name=myform onsubmit="return CheckForm();" action="<?php echo uri();?>" method=post>

 <div class="form-group">
    <label for="exampleInputEmail1">{lang(oldpassword)}</label>
    <input class="form-control" type="password" placeholder="{lang(oldpassword)}" value="" name="oldpassword">
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">{lang(newpassword)}</label>
    <input class="form-control" type="password" placeholder="{lang(newpassword)}" value="" name="password">
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">{lang(againpassword)}</label>
    <input class="form-control"  type="password" placeholder="{lang(againpassword)}" value="" name="pwdconfirm">
  </div>


<input type=hidden value=1 name=dosubmit> 
<input class="btn" type=submit value="{lang(edit)}" name=submit>

<input class="btn" type=reset value="{lang(clear)}" name=reset>
</form>

{template 'foot.html'}