{template 'header.html'}


<!-- 页面标题开始 -->
<div class="t_1 wow bounceIn">
<div>
<h3>{$category[$catid][catname]}</h3>
<p>{$category[$catid][htmldir]}</p>
</div>
</div>

<div class="p10">

<section class="list_text_pic">
	{loop $archives $i $arc}
	<dl>
		<a title="{$arc['stitle']}" href="{$arc['url']}"><img alt="{$arc['stitle']}" src="{$arc['thumb']}"  width="155" alt="" /></a>
		<dt><a title="{$arc['stitle']}" href="{$arc['url']}">{$arc['title']}</a></dt>
		<dd>{cut(strip_tags($arc['introduce']),56)}...</dd>
	</dl>
	{/loop}


<div class="blank30"></div><!-- list_text_pic列表结束 -->
<div class="blank30"></div>
<!-- 分页开始 -->
<div class="Paging box2">
	{if isset($pages)}
	{category_pagination($catid)}
	{/if}
</div>

<!-- 分页结束 -->


</section>
<!-- 内容结束 -->


<!-- 返回首页开始 -->
<div class="blank30"></div>
<div class="blank30"></div>
<a href="javascript:history.back(-1)" class="register_btn">{lang('backuppage')}</a>
<div class="blank30"></div>
<!-- 返回首页结束 -->
</div>

{template 'footer.html'}