{template 'header.html'}


<div class="blank30"></div>

<!-- 页面标题开始 -->
<div class="t_1 wow bounceIn">
<div>
<h3>{lang('search')}</h3>
<p>Search</p>
</div>
</div>

<div class="p10">
<div class="blank30"></div>
<section>


		<ul class="news_list p10">
			{loop $archives $i $archive}
				<li>[<a href="{$archive['caturl']}">&nbsp;{$archive['catname']}&nbsp;</a>]&nbsp;-&nbsp;<a title="{$archive['stitle']}" href="{$archive['url']}">{$archive['title']}</a></li>
			{/loop}
		</ul>
		<div class="blank30"></div>
		<div class="blank30"></div>
		{if isset($pages)}
			{category_pagination($catid)}
		{/if}

</section>
<!-- 内容结束 -->


<!-- 返回首页开始 -->
<div class="blank30"></div>
<div class="blank30"></div>
<a href="javascript:history.back(-1)" class="register_btn">{lang('backuppage')}</a>
<div class="blank30"></div>
<!-- 返回首页结束 -->
</div>

{template 'footer.html'}