{template 'header.html'}
<style>
.banner{display:none;}
</style>

<article>
<!-- 大图 -->
{if $archive['pics']}
<div id="slider_swipe" class="swipe" style="visibility:visible;">  
    <div class="swipe-wrap"> 
{loop $archive['pics'] $pic}
        <figure>  
            <div class="face faceInner">  
                <img src="{$pic['url']}" alt="{$pic['alt']}" onerror='this.src="{config::get('onerror_pic')}"' />  
            </div>  
        </figure>  
        {/loop}
    </div>  
</div>  
  
<nav>  
<ul id="position">
{loop $archive['pics'] $pic}
  <li{if $i==1} class="on"{/if}></li>  
{/loop} 
</ul>  
</nav>

		

<script src="{$skin_path}/js/swipe.js"></script>  
<script>  
var slider =  
  Swipe(document.getElementById('slider_swipe'), {  
    auto: 3000,  
    continuous: true,  
    callback: function(pos) {  
        var i = bullets.length;  
        while(i--){  
            bullets[i].className = ' ';  
        }  
        bullets[pos].className = 'on';  
    }  
  });  
var bullets = document.getElementById('position').getElementsByTagName('li');  
</script>

{else}

<div class="blank30"></div>
<div id="slider_swipe" class="swipe" style="visibility:visible;">  
    <div class="swipe-wrap"> 
        <figure>  
            <div class="face faceInner">  
                <img src="{$archive['thumb']}" alt="{$archive['title']}" onerror='this.src="{config::get('onerror_pic')}"' />  
            </div>  
        </figure>  
    </div>  
</div>  

{/if}
<div class="blank30"></div>
<div class="blank30"></div>

<!-- 页面标题开始 -->
<div class="t_1 wow bounceIn">
<div>
<h3>{lang('pintro')}</h3>
<p>introduction</p>
</div>
</div>
<div class="blank30"></div>
<!-- 下载说明开始 -->
<article id="content_text" class="p10">
	{$archive['content']}
<!--如果内页分页 -->
		{if $pages>1}
		<div class="blank30"></div>
		{archive_pagination($archive)}
		<div class="blank30"></div>
		{/if}

<div class="blank30"></div>
<!-- 相关文章开始 -->
Tag： {$archive['tag']}
<!-- 相关文章结束 -->
<div class="blank30"></div>
<div class="blank30"></div>
<!-- 上下页开始 -->
<div id="page">
{if $archive['p']['aid']}
<a href="{$archive['p']['url']}"><strong>{lang('archivep')}：</strong>{$archive['p']['title']}</a>
{else}
<a><strong>{lang('archivep')}：</strong>{lang('nopage')}</a>
{/if}
<div class="clear"></div>
{if $archive['n']['aid']}
<a href="{$archive['n']['url']}"> <strong>{lang('archiven')}：</strong>{$archive['n']['title']}</a>
{else}
<a><strong>{lang('archiven')}：</strong>{lang('nopage')}	</a>
{/if}
</div>
<!-- 上下页结束 -->
<div class="blank30"></div>
<!-- 评论框开始 -->
{template 'comment/comment.html'}
<!-- 评论框结束 -->
</article>




<!-- 返回首页开始 -->
<div class="blank30"></div>
<div class="blank30"></div>
<a href="javascript:history.back(-1)" class="register_btn">{lang('backuppage')}</a>
<div class="blank30"></div>
<!-- 返回首页结束 -->


{template 'footer.html'}